*{
    font-family: sans-serif;
}
body{
    /* width: 100%; */
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container .info{
    width: 60%;
    margin-right: 50px;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 15px 5px;    
}
.intro h1 {
    color: rgb(138, 50, 200);
    font-size:30px ;
}
.intro{
    margin-left: 10%;
    text-align: justify;
}
.features {
    margin-left: 10%;
}
.download{
    margin-left: 8%;
}
.buttonns {
    margin-left: 8%;
}
.buttonns button {
    height: 35%;
    padding: 10px;
    width: 45%;
    border-radius: 30px;
    color: white;
    background-color: rgb(138, 50, 200);
}
.container .image {
    width: 100%;
    height: auto;
    text-align: right;
}
.image img {
    width: 60%;
    height: 100vh;
    object-fit: cover;
}
.features, p{
    color: rgb(90, 84, 84);  
}
.features h4{
    margin-left: 15px;
}
.features li {
    margin-left: 30px;
}

